<!DOCTYPE html>
<html ng-app="myApp" manifest="offline.appcache">
<head>
    <meta charset="utf-8">
    <title>To do list</title>



    <!-- Building blocks -->
    <link rel="stylesheet" type="text/css" href="building_blocks/css/lists.css">
    <link rel="stylesheet" type="text/css" href="building_blocks/css/drawer.css">
    <link rel="stylesheet" type="text/css" href="building_blocks/css/headers.css">
    <link rel="stylesheet" type="text/css" href="building_blocks/css/util.css">

    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-glyphicons.css">
    <link rel="stylesheet" type="text/css" href="css/lib/animate.min.css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script type="application/javascript" src="js/lib/angular-min.js"></script>
    <script type="application/javascript" src="js/lib/angular-animate.min.js"></script>
    <script type="application/javascript" src="js/app.js"></script>
    <script>
        var app = angular.module('myApp', ['ngAnimate']);
    </script>

</head>
<body>

<div ng-controller="TodoCtrl" class="div-background">

    <header class="toDoLeftHeader">
        <p class="todoLeftHeaderText">
            Todos left:
        </p>

        <p class="toDoLeftIcon">
            {{  getCurrentTodosLength(); }}
        </p>

    </header>



    <section data-type="list">

        <!-- Header and new todos-->
        <div>
            <!-- Add new todo-->
            <form>
                <label class="add-todo">
                    <input type="text" ng-model="newTodoText" placeholder="I'd like to ...">
                    <button class="btn btn-primary" ng-click="addTodo(newTodoText); newTodoText=''">Add</button>
                </label>
            </form>
        </div>


        <!-- Show incomplete todos -->
        <ul class="current-todos">
            <li ng-repeat="todo in currentTodos track by $index">

                <div class="current-todo">
                    <!-- Icon -->
                    <aside class="pack-end">
                        <label>
                            <button ng-show="!isTodoBeingEdited(todo)" ng-click="setCurrentTodoEdited(todo)"
                                    class="todo-icon btn glyphicon glyphicon-edit"></button>
                            <span></span>
                        </label>
                    </aside>

                    <!-- Text -->
                    <div ng-show="!isTodoBeingEdited(todo)" ng-click="setTodoCompleted(todo)" class="todo-text">
                        <p> {{ todo.text }} </p>
                    </div>
                </div>


                <!-- Edit todo -->
                <div ng-show="isTodoBeingEdited(todo);" class="edit-todos" ng-model="editedTodo">
                    <aside class="pack-end">
                        <label>
                            <button ng-click="changeText(todo, editedTodo); stoppedEditingTodo();"
                                    class="edit-todo-button btn glyphicon glyphicon-ok"></button>
                            <span></span>
                        </label>
                    </aside>

                    <input type="text" ng-model="editedTodo.text"
                           ng-init="editedTodo.text = todo.text;" class="edit-todo-input">
                </div>

            </li>
        </ul>
    </section>


    <!-- Show 10 last completed todos-->
    <section data-type="list" ng-hide="getCompletedTodosLength() === 0">

        <div class="delete-todos-header">
            <p class="delete-todos-header-text">
                Recently deleted todos
            </p>

            <a href="#" class="deleted-todos-clear-button" ng-click="clearCompletedTodos();">
                Clear all
            </a>

        </div>


        <ul id="list-container">
            <li ng-repeat="todo in completedTodos track by $index" class="deleted-todo">
                <div ng-click="restoreTodo(todo);">
                    <p class="deleted-todo-text"> {{ todo.text }}</p>
                </div>
            </li>
        </ul>
    </section>

    <div class="last-separator">

    </div>

</div>

</body>
</html>


