<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>Your Lists</title>

    <script src="/js/listCtrl.js"></script>
    <script src="/js/lib/angular-min.js"></script>

    <!-- Building blocks -->
    <link rel="stylesheet" type="text/css" href="/building_blocks/css/lists.css">
    <link rel="stylesheet" type="text/css" href="/building_blocks/css/drawer.css">
    <link rel="stylesheet" type="text/css" href="/building_blocks/css/headers.css">
    <link rel="stylesheet" type="text/css" href="/building_blocks/css/util.css">


    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-glyphicons.css">


</head>
<body ng-controller="listCtrl">

    <a href="index.html">Go back</a>

    <div>
        <!-- Add new todo-->
        <form>
            <label class="add-list">
                <input type="text" ng-model="newListName" placeholder="My new list is ...">
                <button class="btn btn-primary glyphicon glyphicon-plus" ng-click="addNewList(newListName); newListName=''"> Add</button>
            </label>
        </form>
    </div>

    <section data-type="list">
        <ul>
            <li ng-repeat="listName in listNames">
                {{listName}}
            </li>
        </ul>
    </section>
</body>
</html>