<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>To do list</title>


    <!-- Library CSS files-->
    <link rel="stylesheet" type="text/css" href="../css/lib/semantic/packaged/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/animate.min.css">

    <link rel="stylesheet" type="text/css" href="../css/main.css">


    <!-- Semantic UI -->
    <script type="application/javascript" src="../js/lib/jquery-min.js"></script>
    <script type="application/javascript" src="../css/lib/semantic/packaged/javascript/semantic.min.js"></script>

    <!-- Angular JS-->
    <script type="application/javascript" src="../js/lib/angular-min.js"></script>
    <script type="application/javascript" src="../js/lib/angular-animate.min.js"></script>

    <!-- Other javascript -->
    <script type="application/javascript" src="../js/localStorageFunctions.js"></script>
    <script type="application/javascript" src="../js/listFunctions.js"></script>
    <script type="application/javascript" src="../js/ShowTodoCtrl.js"></script>
    <script type="application/javascript" src="../js/sidebar.js"></script>


</head>
<body>

<div ng-controller="ShowTodoCtrl">


    <div class="ui inverted black vertical demo sidebar menu">
        <a class="large item" href="newlist.html">
            <i class="add icon"></i>
            New List
        </a>

        <a class="large item" href="editlist.html">
            <i class="edit icon"></i>
            Edit List
        </a>

        <a class="large item" href="managelist.html">
            <i class="reorder icon"></i>
            Manage Lists
        </a>
    </div>

    <!-- Header -->
    <div class="ui inverted red large menu">

        <div class="ui launch button red item">
            <i class="list layout icon"></i>
        </div>

        <a class="item listButton">
            <p class="listName">
                {{getCurrentListName()}}
            </p>
        </a>


        <a class="item"> <!-- 110 px-->
            Todos left: {{ getCurrentTodosLength(); }}
        </a>


    </div>

    <!-- Add new todo-->
    <div class="ui form">
        <div class="ui focus action input">
            <input autofocus placeholder="I'd like to ..." ng-model="newTodoText" type="text">

            <div class="ui blue icon button" ng-click="addTodo(newTodoText); newTodoText=''">
                <i class="add icon"></i>
            </div>
        </div>
    </div>


    <!-- Show incomplete todos -->
    <div class="ui huge selection celled list">
        <div class="item" ng-repeat="todo in currentTodos track by $index">

            <div ng-if="!isTodoBeingEdited(todo)">
                <!-- Icon -->
                <div class="right floated green ui button"
                     ng-click="setCurrentTodoEdited(todo)">
                    <i class="edit icon"></i>
                </div>

                <!-- Alarm -->
                <div class="right floated green ui button"
                     ng-click="showSetAlarmPage(todo)">
                    <i class="bell outline icon"></i>
                </div>

                <!-- Text -->
                <div class="content completeTodo" ng-click="setTodoCompleted(todo)">
                    <div class="todoText">
                        {{ todo.text }}
                    </div>
                </div>
            </div>

            <!-- Edit todos -->
            <div class="ui form" ng-if="isTodoBeingEdited(todo);">
                <div class="ui small action input">
                    <input focus="{{isTodoBeingEdited(todo)}}" type="text" ng-model="editedTodoText"
                           style="height:40px !important;"
                           ng-init="editedTodoText = todo.text;">

                    <div class="ui positive icon button"
                         ng-click="changeText(todo, editedTodoText); stoppedEditingTodo();">
                        <i class="check icon"></i>
                    </div>
                </div>


            </div>

        </div>

    </div>


    <!-- Show 10 last completed todos-->
    <!-- Header -->
    <div class="ui large inverted red two item menu" ng-show="getCompletedTodosLength() !== 0">
        <a class="item">
            Completed todos
        </a>

        <a class="item" ng-click="clearCompletedTodos();">
            Clear all
        </a>
    </div>

    <div class="ui huge selection celled list">
        <div class="item" ng-repeat="todo in completedTodos track by $index">
            <div class="right floated red ui button"
                 ng-click="deleteCompletedTodo(todo)">
                <i class="delete icon"></i>
            </div>

            <div class="completeTodo todoText" ng-click="restoreTodo(todo);">
                {{ todo.text }}
            </div>
        </div>
    </div>

</div>

</body>
</html>


