<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>To do list</title>


    <!-- Library CSS files-->
    <link rel="stylesheet" type="text/css" href="../css/lib/semantic/packaged/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/managelist.css">


    <!-- Angular JS-->
    <script type="application/javascript" src="../js/lib/angular-min.js"></script>


    <script type="application/javascript" src="../js/localStorageFunctions.js"></script>
    <script type="application/javascript" src="../js/todoFunctions.js"></script>
    <script type="application/javascript" src="../js/manageListCtrl.js"></script>


</head>
<body ng-controller="manageListCtrl">


<a class="ui red icon button" href="index.html" style="width:100%">
    <i class="reply mail icon"></i>
    Go back
</a>



<!-- Show incomplete todos -->
<div class="ui huge selection celled list">
    <div class="item" ng-repeat="listName in listNames">
        <!-- Icon -->
        <div class="right floated red ui small button"
             ng-click="deleteList(listName)">
            <i class="delete simple icon"></i>
        </div>

        <!-- Text -->
        <div class="content listContainer" ng-click="chooseList(listName)">
            <div class="listText">
                {{listName}}
            </div>
        </div>
    </div>
</div>

</body>
</html>


